html *
{
  font-family: 'Libre Franklin', sans-serif;
  margin: auto;
}

.off-white {
  background-color: #EEEAE9;
}


.name {
  text-align: center;
  justify-content: end;
  white-space: nowrap;
  font-weight: bolder;
  color: #19b8d4;


}

.skills {
  color: #19b8d4;
}

.portfolio {
  text-align: center;
  color:#EEEAE9;
}

.port {
  height: 100%;
  width: 100%;
  background-color: #0e96ad;
}

h2 {
  font-weight: bold;
  font-size: 2.0vw;
  
}

p {
  font-size: 1.5vw;
}


body {
    background-color: light;
}

.navbar {
  color:#EEEAE9;
  font: bold;
  font-size: 1.5vw;
  display: flex;
  background-color: #19b8d4;
  padding: 2%;
}


.navbar-text:hover{
  opacity: .5;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.col {
  padding: 0;
}

.navbar-text {
  transition: transform .2s; /* Animation */
  justify-content: flex-end;
  margin: 1vw;
  text-decoration: none;

}
.navbar-text:hover {
  opacity: .5;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  text-decoration: none;
  cursor: default;
}

a {
  color: white;
  font: bolder;
  text-decoration: none;
}

.container {
  width: 100%
}

.about {
  background-color: #EEEAE9;
  width: 100%;
}


.grey {
  height: 200%;
  width: 100%;
  background-color: #19b8d4;
}


li {
  list-style-type: none;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.headshot {
  width: 100%;
  max-width: 30vw;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222);
  position: relative;
  bottom: -20%;
  left:-15%;
  margin-top: 15%;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 100%;
    padding: 0;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform .2s; /* Animation */
  }

  .column img:hover {
    opacity: .5;
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: default;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {

    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}