.off-white {
  height: 100%;
  width: 100%;
  background-color: #EEEAE9;
}

body {
    background-color: light;
}

.navbar {
  background-color: #666;
  position: absolute;
  right: 0;
}

.navbar-brand {
  padding-left: 18%
}

.container {
  width: 100%
}

.about {
  background-color: #EEEAE9;
  width: 100%;
  overflow: hidden;
}

.align-end {
}

.grey {
  height: 100%;
  width: 100%;
  background-color: #666;
  margin-left: 15%;
}


li {
  list-style-type: none;
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.headshot {
    max-width: 95%;
    max-height: 95%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    position: absolute;
    bottom: 0px;
    left: 12%;
  }

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }